
body{
  font-family: 'Roboto', sans-serif;
}
//Current styles
.current-weather{
  padding-top:3rem;
}
p.current-temp{
  font-size: 30px;
}
p.current-temp1{
  font-size: 20px;
}


//Forecast styles
h1.forecast-h1{
  text-align: center;
}
.weather-forecast{
  padding: 30px 40px 30px 40px;
  float:left;
  border: 2px solid black;
  height: 400px;
  width: 500px;
}
.forcast-buttons{
  clear:both;
  padding-top:3rem;
}
