button.btn.btn-lg.btn-primary{
    background-color: black;
    border: none;
    border-radius:15px;
}

a.btn.btn-lg.btn-primary.ng-binding{
  background-color: black;
  border: none;
  border-radius:15px;
  margin-bottom: 32px;
}

a.btn.btn-lg.btn-primary{
  background-color: black;
  border: none;
  border-radius:15px;
}
ul.saved-cities-list{
  list-style-type: none;
}
button.btn.btn-sm.btn-primary{
  background-color: black;
  border: none;
  border-radius:15px;
}

a.btn.btn-md.btn-primary{
  background-color: black;
  border: none;
  border-radius:15px;
}
