<h1> Current weather in {{currentWeather.name}}</h1>



  <div class ="current-weather">
    <div class="weather-icon"><img ng-src="http://openweathermap.org/img/w/{{currentWeather.weather[0].icon}}.png" alt="weather-icon"></div>
    <h2 class="current-temp">Temperature</h2>
    <p class="current-temp1">{{currentWeather.main.temp}} &deg;F</p>
    <p class="current-temp1">Clouds coverage {{currentWeather.clouds.all}}%</p>
    <p class="current-temp1">Humidity {{currentWeather.main.humidity}}%</p>
    <p class="current-temp1">High {{currentWeather.main.temp_max}}</p>
    <p class="current-temp1">Low {{currentWeather.main.temp_min}}</p>
  </div>

<p ng-if="!citySaved"><button class="btn btn-sm btn-primary" ng-click="saveCity(currentWeather)">Save City</button></p>
<div ng-messages="citySaved">
    <p class="city-saved-alert bg-success text-success" ng-message="success">
        {{currentWeather.name}} has been saved to your list of cities.
    </p>
    <p class="city-saved-alert bg-warning text-warning" ng-message="duplicate">
        {{currentWeather.name}} has already been saved to your list of cities.
    </p>
</div>

<p><a ng-href="#!/forecast/{{cityID}}" class="btn btn-lg btn-primary">View 10-day Forecast</a></p>
