<h1>Current Weather for {{currentWeather.name}}</h1>

<div ng-messages="citySaved">
    <p class="city-saved-alert bg-success text-success" ng-message="success">
        {{currentWeather.name}} has been saved to your list of cities.
    </p>
    <p class="city-saved-alert bg-warning text-warning" ng-message="duplicate">
        {{currentWeather.name}} has already been saved to your list of cities.
    </p>
</div>

  <div class ="current-weather">
    <p class="current-temp">Temperature</p>
    <p>{{currentWeather.main.temp}} &deg;F</p>
    <p>Clouds are {{currentWeather.clouds.all}}%</p>
    <p>High {{currentWeather.main.temp_max}}</p>
    <p>Low {{currentWeather.main.temp_min}}</p>
  </div>

<p ng-if="!citySaved"><button class="btn btn-sm btn-primary" ng-click="saveCity(currentWeather)">Save City</button></p>
<p><a ng-href="#!/forecast/{{cityID}}" class="btn btn-lg btn-primary">View 5-day Forecast</a></p>
