<h1 class="forecast-h1">10-day Forecast for {{forecastData.city.name}}</h1>

<section class="wrapper-forecast">
  <div ng-repeat="prediction in forecastData.list" class="weather-forecast">  

    <div class="weather-icon">
      <img ng-src="http://openweathermap.org/img/w/{{prediction.weather[0].icon}}.png" alt="weather-icon">
    </div>
    
    <h2 class="prediction-header">{{prediction.dt*1000 | date:'MMM dd, yyyy'}}</h2>
    <p class="prediction-paragraph">{{prediction.weather[0].description}}</p>
    <h3 class="prediction-header">Temperature</h3>
    <p class="prediction-paragraph">High {{prediction.temp.max}} &deg;F</p>
    <p class="prediction-paragraph">Low {{prediction.temp.min}} &deg;F</p>

  </div>
</section>

<div class="forcast-buttons">
  <p><a ng-href="#!/current/{{cityID}}" class="btn btn-lg btn-primary">View Current Weather</a></p>
  <p id="general-btn"><a ng-href="#!/" class="btn btn-md btn-primary">Find Another City</a></p>
</div>
